@charset "UTF-8";

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: url(imagens/capa.png), url(imagens/ruido.png), linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.411);
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(159, 159, 255) !important;
}

main {
    background: url(imagens/capa.png), url(imagens/ruido.png), linear-gradient(50deg,#ff4169,#7c26f8);
    background-attachment: fixed;
    height: 100%
}

nav {
    background-color: rgba(0, 0, 0, 0.568);
}

h1 {
    color: white;
    font-size: 5em;
    font-weight: bolder;
}

a.btn-custom {
    border-radius: 2.25em
}

a.azul {
    background-color: rgba(75, 75, 247, 0.678);
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.705);
    
}

.text-change {
    color: #7C25F8;
}

h2.text-change {
    font-size: 3em;
}

section#meio {
    background-image: linear-gradient(to top, white, white);
    padding: 30px;
    width: 100%;
}



.rotacao {
    transform: rotate(30deg);
    padding-left: 80px;
    height: 100%;
}

#celular {
    width: 100%;
}


h2.text-another-change {
    color: white;
    font-size: 3em;
}

h3.text-another-change {
    color: #9BF0E1;
    font-size: 2.2em;
}

p.text-another-change {
    color: white;
    font-size: 1em;
}